In [1]:
from all import *

In [2]:
DOCUMENT_ORGANIZATION

     document_eu_id organization_abbr
0         PE680.868              TRAN
1         PE680.885              TRAN
2         PE680.905              TRAN
3         PE695.192              INTA
4         PE699.064              INTA
...             ...               ...
3419      PE745.351              TRAN
3420      PE662.009              AFET
3421      PE719.796              ECON
3422      PE729.817              BUDG
3423      PE745.281              CULT

[3424 rows x 2 columns]

``Ha ezt joinoljátok az edgelist-re a document_eu_id oszlopon, utána tudtok szakbizottságra szűrni." - Levi

In [3]:
COSPONSORSHIP_EDGELIST

,amendment_id,person_id,person_full_name,document_eu_id,procedure_interinst_id,date
0,18,1898,Ilana Cicurel,PE749.912,2022/0906(COD),2023-06-13
1,37,2002,Isabel Carvalhais,PE657.419,2020/0095(COD),2020-10-06
2,38,2002,Isabel Carvalhais,PE657.419,2020/0095(COD),2020-10-06
3,47,1369,Pascal Canfin,PE736.476,2021/0423(COD),2022-09-15
4,50,1369,Pascal Canfin,PE736.476,2021/0423(COD),2022-09-15
...,...,...,...,...,...,...
1172013,448512,216,Rovana Plumb,PE738.577,2021/0420(COD),2023-01-25
1172014,448512,2033,Andris Ameriks,PE738.577,2021/0420(COD),2023-01-25
1172015,448512,1955,Erik Bergkvist,PE738.577,2021/0420(COD),2023-01-25
1172016,448512,2383,Andreas Schieder,PE738.577,2021/0420(COD),2023-01-25
1172017,448512,1650,Maria Grapini,PE738.577,2021/0420(COD),2023-01-25

In [4]:
cosp = COSPONSORSHIP_EDGELIST
docorg = DOCUMENT_ORGANIZATION

In [5]:
cosp['document_eu_id'] = cosp['document_eu_id'].astype(str)
docorg['document_eu_id'] = docorg['document_eu_id'].astype(str)

In [6]:
docorg.dtypes

document_eu_id       object
organization_abbr    object
dtype: object

In [8]:
# idk why this gives an error
# maybe some pointer-related shenanigans ??
bigboy = pd.merge(cosp, docorg, on="document_eu_id")

In [9]:
bigboy

,amendment_id,person_id,person_full_name,document_eu_id,procedure_interinst_id,date,organization_abbr
0,18,1898,Ilana Cicurel,PE749.912,2022/0906(COD),2023-06-13,JURI
1,3,1898,Ilana Cicurel,PE749.912,2022/0906(COD),2023-06-13,JURI
2,16,1898,Ilana Cicurel,PE749.912,2022/0906(COD),2023-06-13,JURI
3,21,1898,Ilana Cicurel,PE749.912,2022/0906(COD),2023-06-13,JURI
4,5,1898,Ilana Cicurel,PE749.912,2022/0906(COD),2023-06-13,JURI
...,...,...,...,...,...,...,...
1183321,219029,2257,Antonio Maria Rinaldi,PE734.225,2022/2069(REG),2022-07-01,AFCO
1183322,219029,1973,Gunnar Beck,PE734.225,2022/2069(REG),2022-07-01,AFCO
1183323,219029,2190,Laura Huhtasaari,PE734.225,2022/2069(REG),2022-07-01,AFCO
1183324,223956,1941,Ivan David,PE642.869,2019/0142(NLE),2019-10-14,AGRI
1183325,389271,1059,Cornelia Ernst,PE755.979,2023/0102(NLE),2023-10-30,LIBE